@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = " QTV Bến Xe";
}
<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar">
		<div class="p-4 pt-5">
			<ul class="list-unstyled components mb-5">
				<li class="active">
					<a asp-controller="home" asp-action="index" class="text-capitalize">Trang Chủ</a>
				</li>
				<li>
					<a asp-action="lsgiaodich" class="text-capitalize">Tạo, xem lịch sử giao dịch</a>
				</li>
				<li>
					<a asp-action="ttdangnhap" class="text-capitalize">CRUD thông tin đăng nhập</a>
				</li>
				<li>
					<a asp-action="ttbenxe" class="text-capitalize">Xem trạng thái bến xe</a>
				</li>
				<li>
					<a asp-action="lsvaora" class="text-capitalize">Xem, xoá lịch sử vào-ra</a>
				</li>
				<li>
					<a asp-action="vitrido" class="text-capitalize">CRUD vị trí đỗ</a>
				</li>
				<li>
					<a asp-action="nhaxe" class="text-capitalize">CRUD thông tin nhà xe</a>
				</li>
			</ul>

			<div class="footer">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
                            document.write(new Date().getFullYear());
					</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</nav>

	<!-- Page Content  -->
	<div id="content" class="">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">

				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
				<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item ">
							<div><img src="./images/logo.jpg" alt="" style="width: 40px; height:40px;" class="mr-2">User Name</div>
						</li>
						<li class="nav-item">
							<button class="btn btn-danger ml-2">
								Đăng Xuất
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			@RenderBody()
		</div>
	</div>
</div>