@model NhaXe[]
@{  
    Layout = "~/Views/Qtv1/_Qtv1Layout.cshtml";
    ViewData["Title"] = "NhaXe";
}

<h1>@ViewData["Title"]</h1>
<div class ="">
  <div class="text-danger validation-summary">

  </div> 
    <div class=" input-group">
        <table id="data-grid" class=" table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mã nhà xe</th>
                    <th scope="col" >Tên nhà xe</th>
                    <th scope="col">Số lượng xe</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Màu biểu tượng</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Ngày giao dịch cuối</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

