
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="footer">
	<div class="container">
		<div class="row">
			<div class=" about-block col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<h3>
					About us
				</h3>
				<ul>
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Gioi thiệu bến xe trung tâm TP.Đà Nẵng
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Tuyển dụng
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Liên Hệ
						</a>
					</li>
				</ul>
			</div>
			<div class=" about-block col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<h3>
					Hỗ trợ
				</h3>
				<ul class="">
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Hướng dẫn đăng kí
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Quy chế bến xe TTTP Đà Nẵng
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fas fa-arrow-circle-right links"></i> Liên Hệ
						</a>
					</li>
				</ul>
			</div>
			<div class=" about-block col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<h3>
					Kết nối với chúng tôi
				</h3>
				<ul class="mxh">
					<li class="  contents-list">
						<a href="">
							<i class="fab fa-facebook-square  mxh-icon"></i>
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fab fa-instagram mxh-icon"></i>
						</a>
					</li>
					<li class=" contents-list">
						<a href="">
							<i class="fab fa-twitter-square mxh-icon"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr style="border:0.5px solid white; width: 50%; margin: auto;">
	<div class="container">
		<div class="row">
			<span class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12 text-center">©2020 by TeamSE12</span>
		</div>
	</div>
</div>