@model LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập quản trị viên";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="wrap-admin container-fluid">
	<div class="login-block container">
		<div class="row">
			<div class="col-xl-6 col-lg-6">
				<div class="d-flex" style="justify-content:center; align-items:center; width:100%; height:100%;">
					<div>
						<h3 class="login-title" style="font-family: 'Michroma', sans-serif; text-transform:uppercase; padding:0 0;"><i class="fas fa-bus" style="font-size:30px !important; color:#f36820"></i> TEAMSE 12</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div style="width:80%; margin:auto">
					<h3 class="login-title" style="font-family: 'Michroma', sans-serif; text-transform:uppercase; padding:0 0;">Welcome </h3>
					<h5 class="login-title">Login QTV</h5>
					<section>
						<form asp-action="login" method="post">
							<div class="form-group">
								<label style="color:white!important;">Ký danh:</label>
								<input type="text" class="form-control" name="UserName" asp-for=UserName />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label style="color:white!important;">Mật khẩu:</label>
								<input type="password" class="form-control" name="Password" asp-for=Password>
								<span asp-validation-for=Password class="text-danger"></span>
							</div>
							<div class="form-group">
								<label style="color:white!important;">Ghi nhớ đăng nhập:</label>
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</div>
							<div class="form-group" style="padding: 20px 20px;display: flex;justify-content: center;">
								<button type="submit" class="login_btn">Đăng nhập</button>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="border-between">

	</div>
	<div class="login-footer">
		<div class="container">
			<div class="row">
				<span class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12 text-center">©2020 by TeamSE12</span>
			</div>
		</div>
	</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
